.navbar {
  width: 100%;
  display: flex;
  margin-left: -20px;
  margin-top: -20px;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  left: 20px; /* Default position */
}
.menu-btn.move-right {
  transform: translateX(200px); /* Moves right when sidebar is open */
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
